.brandhub{
    .tab-content__1{
        .row{
            .brandhub__item{
                border:  1px $color-black-0 solid;
                border-top-width: 0;
                border-bottom-width: 2px;              
                padding: 0px !important;   
            }
            .tab__item{
                height: 570px;
                width: 100%;
                overflow: hidden !important;        
            }
            .row__item{
                height: 285px;
                overflow: hidden;
            }
            .item_1{
                background-image: url(./../img/brand-hub_1.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                
            }
            .item_2{
                background-image: url(./../img/brand-hub_2.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_3{
                background-image: url(./../img/brand-hub_3.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                
            }
            .item_4{
                background-image: url(./../img/brand-hub_4.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_5{
                background-image: url(./../img/brand-hub_5.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_6{
                background-image: url(./../img/brand-hub_6.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_7{
                background-image: url(./../img/brand-hub_7.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_8{
                background-image: url(./../img/brand-hub_8.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_9{
                background-image: url(./../img/brand-hub_9.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_10{
                background-image: url(./../img/brand-hub_10.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_11{
                background-image: url(./../img/brand-hub_11.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_12{
                background-image: url(./../img/brand-hub_12.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_13{
                background-image: url(./../img/brand-hub_13.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .item_14{
                background-image: url(./../img/brand-hub_14.jpeg);
                    background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
    
    
    
    

}

